

body {
  background-color: #cde3eb;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: 30px;
}

h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 250;
  color: #71a0a5;
  font-size: 20px;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #6f6f6f;
  font-size: 13px;
}

.container {
  width: 50%;
  margin: 20px auto 20px auto;
}

.card-presentation {
  background-color: white;
  width: 600px;
  height: 400px;
  text-align: center;
  padding: 15px;
  margin: 20px;
  border-radius: 10%;
  box-shadow: 2px 2px 3px blue
}

.card-socialnetwork {
  background-color: white;
  width: 600px;
  height: 70px;
  margin: 20px;
  text-align: center;
  padding: 15px;
  border-radius: 10%;
  box-shadow: 2px 2px 3px blue


}

.card-series {
  background-color: white;
  width: 600px;
  height: 1100px;
  margin: 20px;
  text-align: center;
  padding: 15px;
  border-radius: 10%;
  box-shadow: 2px 2px 3px blue


}

.profile-picture {
  border-radius: 50%;
}

ul {
 list-style: none;
}
